[submodule "algoritmos"]
	path = algoritmos
	url = https://github.com/matuzalemmuller/algoritmos
[submodule "aprendizado-maquina"]
	path = aprendizado-maquina
	url = https://github.com/matuzalemmuller/aprendizado-maquina
[submodule "inteligencia-artificial"]
	path = inteligencia-artificial
	url = https://github.com/matuzalemmuller/inteligencia-artificial
[submodule "conceitos-controle-automacao"]
	path = conceitos-controle-automacao
	url = https://github.com/matuzalemmuller/conceitos-controle-automacao
[submodule "engenharia-software-orientada-servicos"]
	path = engenharia-software-orientada-servicos
	url = https://github.com/matuzalemmuller/engenharia-software-orientada-servicos
[submodule "sistemas-multiagentes"]
	path = sistemas-multiagentes
	url = https://github.com/matuzalemmuller/sistemas-multiagentes
